:root{

  --color-white: #fff;
  --color-black: #000 ;


  --color-link: #202c4a;
  --color-link-visited: #8B8B97 ;
  --color-link-hover: #E53847;
  --color-link-active: #BD00FF;
  --color-link-focus: #D37006;

  --color-bg-primary: #fff;
  --color-bg-secondary: #f0f0f0;
  --color-bg-tertiary:#202C4A ;


  --color-text-primary:#000 ;
  --color-text-secondary: #fff;


}