:root{


  --max-width:1200px ;
  --min-width:335px;

/*--padding-thin: ;
--padding-large: ;


  --margin-thin: ;
  --margin-large: ;*/

}



$vw-thin: 320px;
$vw-small: 576px;
$vw-medium: 768px;
$vw-large: 992px;
$vw-huge:var(--max-width);






























